# ----------------- * 필수 * -----------------
BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000

POSTGRES_DB_PORT=5606
DATABASE_URL="postgresql://postgres:postgres@localhost:5606/postgres?schema=public"

# 이메일 기능
RESEND_API_KEY=
RESEND_SENDER_DOMAIN=

S3_ACCOUNT_ID=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
NEXT_PUBLIC_R2_OBJECT_DOMAIN=

# Toss Payments
NEXT_PUBLIC_TOSS_PAYMENTS_CLIENT_ID=test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm
TOSS_PAYMENTS_SECRET_KEY=test_sk_zXLkKEypNArWmo50nX3lmeaxYG5R

